html-preprocessor/04-hugo/themes/tutor/layouts/partials/navbar.html

    <div class="w3-teal">
      <button class="w3-button w3-teal w3-xlarge"
              id="openNav">&#9776;</button>
      <div class="w3-container">
        <h1>My Page</h1>
      </div>
    </div>

    <div class="w3-bar w3-black">
    {{ range .Site.Data.pages }}
      <a class="w3-bar-item w3-button"
         href="{{ .link }}">{{ .short }}</a>
    {{ end }}
    </div>

html-preprocessor/02-grunt/pug/views/partials/navbar.pug
.w3-teal
  button#openNav.w3-button.w3-teal.w3-xlarge
    | &#9776;
  .w3-container
    h1 My Page
.w3-bar.w3-black
  a.w3-bar-item.w3-button.w3-large(href='index.html')
    | Home
  a.w3-bar-item.w3-button.w3-large(href='html.html')
    | HTML
  a.w3-bar-item.w3-button.w3-large(href='css.html')
    | CSS
  a.w3-bar-item.w3-button.w3-large(href='php.html')
    | PHP
  a.w3-bar-item.w3-button.w3-large(href='javascript.html')
    | Javascript
