html-preprocessor/02-grunt/pug/views/partials/sidebar.pug
#mySidebar.w3-sidebar.w3-bar-block.w3-card.w3-animate-left(style='display:none')
  button#closeNav.w3-bar-item.w3-button.w3-large 
    | Close &times;
  a.w3-bar-item.w3-button(href='index.html')
    | Home
  a.w3-bar-item.w3-button(href='html.html')
    | HTML Link
  a.w3-bar-item.w3-button(href='css.html')
    | CSS Link
  a.w3-bar-item.w3-button(href='php.html')
    | PHP Link
  a.w3-bar-item.w3-button(href='javascript.html')
    | Javascript Link

html-preprocessor/04-pelican/tutor/templates/site/sidebar.html

  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" 
       style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large"
       id="closeNav" >Close &times;</button>
    {% for page in PAGES %}
      <a class="w3-bar-item w3-button"
         href="{{ page.link }}">{{ page.long }}</a>
    {% endfor %}
  </div>
